@import "styles/vars.css";

html,
body {
  color: var(--color-black);
  font-family: var(--font);
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

html,
body,
:global(#app),
:global(.page) {
  height: 100%;
}

:global(.page) {
  display: grid;
  grid-template-columns: 50px 2fr 1fr;
}

:global(.nav) {
  background: var(--color-black);
  padding: 16px;
}

:global(.icon) {
  width: 18px;
}

:global(.questions),
:global(.filters) {
  padding: 16px;
}

:global(.questions) {
  background: var(--color-subtle);
}
