.filters {
  background: #f3f5f8;
  padding: 16px;
}

.options {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 8px;
}

.heading,
.title {
  font-weight: 400;
}

.heading {
  text-align: center;
}

.title {
  color: #778faa;
  margin-bottom: 8px;
  font-size: 14px;
}
