.root {
  position: relative;
}

.option {
  display: flex;
  padding: 8px;
  border: 1px solid #e8ecf0;
  background: white;
  cursor: pointer;
  font-size: 13px;
}

.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}

.label {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 8px;
}

.checkbox:checked + .option {
  background: #e2e6eb;
  border-color: #c7cfd9;
}
